:root.theme-dark {
  --link-bg-image: url("../images/cover-image-dark.png");
  --main-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --button-hover: rgba(255, 0, 112, 0.4);
  --text-accent-color: rgba(241, 178, 206, 1);
  --bg-color: rgba(0, 0, 40, 1);
}

.theme-dark .header__decor-span {
  display: flex;
}

 
.theme-dark .main__content-reverse-title,
.theme-dark .main__content-subtitle,
.theme-dark .header__theme-menu-button:hover,
.theme-dark .decorated-zone::after,
.theme-dark .decorated-zone::before,
.theme-dark .header__theme-menu-button_active,
.theme-dark .header__theme-menu-button,
.theme-dark .header__theme-menu-button:focus-visible,
.theme-dark .main__content .main__content-title-picture {
  --main-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --button-hover: rgba(255, 0, 112, 0.4);
}
