:root.theme-light {
  --link-bg-image: url("../images/cover-image-light.png");
  --main-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --text-accent-color: rgba(53, 52, 48, 1);
  --button-hover: rgba(255, 0, 112, 0.4);
}

.theme-light .header__decor-span {
  display: none;
}

.main__content-subtitle {
  color: var(--accent-color);
}

.main__content-reverse-title {
  color: var(--accent-color);
}

.theme-light .main__content-reverse-title,
.theme-light .main__content-subtitle,
.theme-light .header__theme-menu-button:hover,
.theme-light .decorated-zone::after,
.theme-light .decorated-zone::before,
.theme-light .header__theme-menu-button_active,
.theme-light .header__theme-menu-button,
.theme-light .header__theme-menu-button:focus-visible {
  --accent-color: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --link-bg-image: url("../images/cover-image-light.png");
    --main-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --title-color: rgba(255, 194, 230, 1);
    --button-hover: rgba(255, 0, 112, 0.4);
    --text-accent-color: rgba(53, 52, 48, 1);
    --bg-color: rgba(255, 241, 247, 1);
  }

  .header__decor-span {
    display: none;
  }

  .main__content-reverse-title,
  .main__content-subtitle,
  .header__theme-menu-button:hover,
  .decorated-zone::after,
  .decorated-zone::before,
  .header__theme-menu-button_active,
  .header__theme-menu-button,
  .header__theme-menu-button:focus-visible {
    --accent-color: rgba(53, 52, 48, 1);
  }
}
